.hobbies {
    width: 90%;
    margin-bottom: 20px;
}

.circles {
    display: flex;
    justify-content: space-around;
}

.circle {
    width: 160px;
    height: 160px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}