header {
  width: 100%;
  height: 600px;
  background: url('./assets/balloon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}